<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
  </head>
  <body>
    {% if wis %}
    {% for wi in wis %}
    <div>{{ wi.eword }}</div>
    <div>{{ wi.cword }}</div>
    <br/>
    {% endfor %}
    {% endif %}
    <form action="query" method="get">
      <div><input type="text" name="queryword"/></div>
      <div><input type="submit" value="查询"></div>
    </form>
    <a href="/">首页</a>
    <a href="/recite">测试</a>
    <a href="/review">复习</a>
    <a href="{{ url }}">{{ url_linktext }}</a>
  </body>
</html>
