        {% if noreciterecord %}
        <div>恭喜，没有可供测试的条目:-)</div>
        <br/>
        <div>可以去<a href="/m/user">个人页面</a>设置要测试的词库</div>
        <br/>
        {% else %}
            <form action="/m/recite" method="post">
	        {% for reciterecord in reciterecords %}
                <div><select name="{{reciterecord.witem.eword}}">
                    <option value="off">{{reciterecord.witem.eword}}
                    <option value="on">{{reciterecord.witem.cword}}
                </select>{{reciterecord.reval}}</div> 
	        {% endfor %}
                <div><input type="submit" value="确认"></div>
                <p/>
            </form>
        {% endif %}
